<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Meetup Page Draft</title>
</head>
<body>
<div id="app">
  <div v-if="meetups">
    <div class="meetup-cover" :style="setImage">
      <h1 class="meetup-cover__title">{{ meetups.title }}</h1>
    </div>

    <div class="container">
      <div class="meetup">
        <div class="meetup__content">
          <h3>Описание</h3>
          <p class="meetup-description">{{ meetups.description }}</p>

          <h3>Программа</h3>
          <div class="meetup-agenda">
            <div class="meetup-agenda__item" v-for="meetup in meetups.agenda">
                <div class="meetup-agenda__item-col">
                  <img class="icon" alt="icon" :src="'/assets/icons/icon-' + agendaItemIcons[meetup.type] + '.svg'" />
                </div>
                <div class="meetup-agenda__item-col">{{ meetup.endsAt + ' - ' + meetup.startsAt}}</div>
                <div class="meetup-agenda__item-col">
                  <h5 class="meetup-agenda__title">{{ meetup.title ? meetup.title :agendaItemDefaultTitles[meetup.type] }}</h5>
                  <template v-if="meetup.type == 'talk'">
                    <p><span>{{ meetup.speaker }}</span><span class="meetup-agenda__dot"></span><span class="meetup-agenda__lang">{{ meetup.language }}</span></p>
                    <template v-if="meetup.description">
                      <p>{{ meetup.description }}</p>
                    </template>

                  </template>
                </div>
            </div>
          </div>
        </div>

        <div class="meetup__aside">
          <ul class="info-list">
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-user.svg" />
              {{ meetups.organizer }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-map.svg" />
              {{ meetups.place }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-cal-lg.svg" />
              <time datetime="2020-02-31">{{ new Date(meetups.date) }}</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
